* {
  font-family: "Montserrat", sans-serif;
}
.col {
  float: left;
  width: 18%;
  margin: 0 10px;
}
.card {
  background-image: url("https://images.unsplash.com/photo-1490735891913-40897cdaafd1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c3Vuc2V0JTIwc2t5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 80%;
  border: 3px solid rgb(105, 68, 151);
  box-shadow: 2px 2px rgb(194, 176, 217);
  text-align: center;
  margin: 20px auto;
}

.card .weather-icon {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.head {
  background-image: url("https://images.unsplash.com/photo-1503441669932-76d3a4625eb9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1594&q=80");
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 50px;
  padding: 50px 0;
  margin-top: 0;
}
.input-box {
  display: inline-block;
  width: 400px;
  margin: 30px auto 20px 35%;
  padding: 20px;
  text-align: center;
  border: none;
  background-color: #ffffff;
 
}
.btn {
  display: inline-block;
  position: relative;
  right: 0;
  margin: 0 10px;
  padding: 16px 24px;
}
.input-box:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:active {
  transform: translateY(2px);
}
.autocomplete-dropdown-container {
  text-align: center;
}
.text-primary,
.text {
  cursor: pointer;
}
